body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

.section-title {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.section-title span {
  color: #fd9222;
}

/** --------------HEADER----------------- */

.header {
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
  gap: 90px;
  align-items: center;
}

.header-navigation {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  color: #111;
  font-size: 18px;
  font-weight: 700;
  line-height: calc(20 / 18);
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-logo-italic {
  font-style: italic;
}

.header-menu-list {
  display: flex;
  gap: 24px;
}

.header-menu-link {
  color: #111;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.header-soc-icon {
  fill: transparent;
  stroke: #111;
}

.header-soc-icon:hover {
  stroke: #fd9222;
}

/* .header-menu-link:hover {
  color: #fd9222;
}

.header-menu-link:focus {
  color: #fd9222;
}

.header-menu-link:active {
  color: #fd9222;
} */

.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
  color: #fd9222;
}

.header-soc-list {
  display: flex;
  gap: 14px;
}

/** ----------------------------------- */

/** --------------HERO----------------- */

.hero {
  padding-bottom: 80px;
}

.hero-container {
  background-color: rgba(17, 17, 17, 0.6);
  background-image: linear-gradient(
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4)
    ),
    url(../img/chocolate-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  padding: 380px 40px 40px 40px;
}

.hero-title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  max-width: 484px;
}

.hero-buttons {
  display: flex;
  align-items: center;
}
.hero-buy-btn {
  padding: 14px 40px;
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  background: #fd9222;
  border: 1px solid transparent;
  cursor: pointer;
  margin-right: 14px;
  /* transition-property: background-color, border-color;
  transition-duration: 400ms, 0.3s;
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95); */
  transition: background-color 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95),
    border-color 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.hero-buy-btn:hover {
  background-color: transparent;
  border-color: #ffffff;
}

.hero-made-btn {
  padding: 14px 40px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  border: 1px solid #fff;
  background-color: transparent;
}
.hero-down-btn {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
  margin-left: auto;
}

/** ----------------------------------- */

/** --------------FEATURES----------------- */

.features {
  background: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}
.features-list {
  display: flex;
  padding-left: 18px;
  padding-right: 18px;
  gap: 88px;
}
.features-item {
  width: calc((100% - 88px * 2) / 3);
  position: relative;
}

.features-item:not(:last-child)::after {
  content: '';
  width: 1px;
  height: 124px;
  right: -44px;
  top: 0;
  position: absolute;
  background-color: #ffffff;
  top: 50%;
  transform: translateY(-50%);
}

.features-subtitle {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 18px;
}
.features-item-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/** ----------------------------------- */

/** --------------TASTE----------------- */

.taste {
  padding-top: 120px;
}

.taste-title {
  max-width: 412px;
  margin: 0 auto 28px;
}

.taste-text {
  color: #111;
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin: 0 auto 50px;
  max-width: 486px;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  /* column-gap: 32px;
  row-gap: 24px; */
  gap: 24px 32px;
}

.taste-item {
  border-radius: 15px;
  border: 1px solid #fd9222;
  background: #fff;
  width: calc((100% - 32px * 3) / 4);
  padding: 28px 23px;
}

.taste-img {
  margin: 0 auto;
  margin-bottom: 36px;
}

.taste-subtitle {
  color: #111;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  padding-left: 5px;
}

/** ----------------------------------- */

/** --------------MADE----------------- */

.made {
  padding-top: 120px;
}

.made-title {
  margin-bottom: 50px;
}

.made-wrap {
  display: flex;
  gap: 20px;
}

.made-img {
}

.made-content {
  background-color: #ffffff;
  padding: 32px;
}

.made-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 28px;
  max-width: 350px;
}

.made-list {
}

.made-item {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.made-item::before {
  content: '';
  display: flex;
  width: 8px;
  height: 8px;
  background-color: #111111;
  border-radius: 50%;
  border: 1px solid #eceded;
  flex-shrink: 0;
}

.made-item:hover::before {
  background-color: #fd9222;
}

.made-item + .made-item {
  margin-top: 20px;
}

.made-item-text {
  color: #111;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/** ----------------------------------- */

/** --------------PRODUCTS----------------- */

.products {
  padding-top: 120px;
}
.products-title {
  margin-bottom: 50px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 18px;
}
.products-item {
  width: calc((100% - 54px) / 4);
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  padding: 32px 20px;
  background: #fff;
}
.products-img {
  margin-bottom: 8px;
}
.products-subtitle {
  color: #111;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 2px;
}
.products-item-text {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  margin-bottom: 18px;
  text-align: center;
}
.products-item-btn {
  color: #111;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

/** ----------------------------------- */

/** --------------SELLERS----------------- */

.sellers {
  padding-top: 120px;
}
.sellers-title {
  margin-bottom: 50px;
}

.sellers-list {
  display: flex;
  gap: 16px;
}
.sellers-item {
  width: calc((100% - 16px * 2) / 3);
  padding-bottom: 28px;
  position: relative;
}
.sellers-img {
}
.sellers-subtitle {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 28px;
}

.sellers-cover-wrap {
  position: relative;
  overflow: hidden;
}

.sellers-item:hover .sellers-text-wrap {
  transform: translateY(0%);
}

.sellers-text-wrap {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0 40px;
  top: 0;
  background: linear-gradient(
    165deg,
    rgba(253, 253, 255, 0.1) 3.97%,
    rgba(8, 2, 21, 0) 109.76%
  );
  border-radius: 15px 15px 0px 0px;
  backdrop-filter: blur(7.5px);
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
}

.sellers-cover-text {
  color: #fafafa;
  font-size: 14px;
  line-height: 1.29; /* 128.571% */
  letter-spacing: -0.02em;
}

/** ----------------------------------- */

/** --------------LOVED----------------- */

.loved {
  padding-top: 120px;
  padding-bottom: 120px;
}
.loved-title {
  margin-bottom: 90px;
}

.loved-list {
  display: flex;
  gap: 28px;
  margin-bottom: 50px;
}
.loved-item {
  width: calc((100% - 56px) / 3);
  padding: 56px 24px 24px 24px;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  box-shadow: 0px 9.049px 100px 0px rgba(17, 17, 17, 0.03);
  position: relative;
}
.loved-img {
  position: absolute;
  left: 50%;
  top: -40px;
  transform: translate(-50%);
}
.loved-subtitle {
  color: #111;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 24px;
}
.loved-item-text {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.loved-btn {
  color: #111;
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  display: block;
  margin: 0 auto;
}

/** ----------------------------------- */

/** --------------FOOTER----------------- */

.footer {
  background: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-heading {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: calc(34 / 28);
  letter-spacing: -0.02em;
  max-width: 300px;
  margin-right: auto;
}

.footer-heading span {
  color: #fd9222;
}

.footer-soc {
  margin-right: 50px;
}

.footer-subtitle {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  margin-bottom: 14px;
}
.footer-soc-list {
  display: flex;
  gap: 14px;
}
.footer-soc-item {
}
.footer-soc-link {
}

.footer-soc-icon {
  fill: transparent;
  stroke: #ffffff;
}
.footer-address {
  font-style: normal;
}
.footer-address-list {
}
.footer-address-item + .footer-address-item {
  margin-top: 4px;
}
.footer-address-link {
  color: #fff;
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.footer-top {
  display: flex;
  padding-bottom: 50px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-navigation {
}
.footer-menu-list {
  display: flex;
  gap: 24px;
}
.footer-menu-item {
}
.footer-menu-link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.footer-menu-link:hover,
.footer-menu-link:focus,
.footer-menu-link:active {
  color: #fd9222;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-input {
  width: 313px;
  height: 52px;
  background-color: transparent;
  border-radius: 30px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  padding: 0 24px;
  color: rgba(255, 255, 255, 0.3);
  font-size: 18px;
  line-height: normal;
  letter-spacing: -0.02;
}

.footer-form-btn {
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  height: 52px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 100px;
  background: #fd9222;
  border: none;
  margin-left: 8px;
}

.list {
  display: flex;
  gap: 10px;
}
.item {
  width: 40px;
  height: 40px;
}
.link {
  background-color: blue;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link:hover svg {
  stroke: yellow;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(30, 24, 35, 0.615);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 517px;
  min-height: 794px;
  border-radius: 15px;
  background-color: #fafafa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-close-btn {
  margin-left: auto;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 30px;
  height: 30px;
  border: 1px solid #999d9d;
  background-color: #d6dada;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-title {
  text-align: left;
  max-width: 298px;
  margin-bottom: 42px;
}

.modal-title span {
}

.modal-field {
  margin-bottom: 18px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 68px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.25);
  background-color: transparent;
  box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
  outline: transparent;
  color: #1e1823;
  padding-left: 50px;
}

.modal-input::placeholder {
  color: #999d9d;
}

.modal-input:focus {
  border-color: #fd9222;
}

.modal-input:focus::placeholder {
  color: #fd9222;
}

.modal-input:focus + .modal-icon {
  stroke: #fd9222;
}

.modal-label {
  display: block;
  color: rgba(64, 64, 64, 0.3);
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}

.modal-icon {
  fill: transparent;
  stroke: #404040;
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-text {
  width: 100%;
  height: 137px;
  border-radius: 13px;
  border: 1.5px solid rgba(17, 17, 17, 0.25);
  background-color: transparent;
  box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
  outline: transparent;
  color: #1e1823;
  padding: 24px 22px;
  resize: none;
}

.check-text {
  color: rgba(64, 64, 64, 0.6);
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  position: relative;
}

.check-text a {
  color: #fd9222;
  text-decoration: underline;
}

.check-text span {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.check-input:checked + .check-text span {
  background-color: #fd9222;
  border: none;
  fill: #ffffff;
}

/* .check-text::before {
  content: '';
  width: 40px;
  height: 22px;
  border-radius: 50px;
  border: 1px solid #999d9d;
  margin-right: 10px;
  transition-duration: 300ms;
}

.check-text::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #999d9d;
  transition-duration: 300ms;
}

.check-input:checked + .check-text::after {
  transform: translate(18px);
  background-color: #ffffff;
}

.check-input:checked + .check-text::before {
  background-color: #badc99;
} */
